h1
{
    margin-inline: 0rem;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 4rem;
}

button
{
    width: 25%;
    height: 100%;
    font-size: 2rem;
}

li
{
    font-size: 1.25rem;
}

.combatLogContainer
{
    display: flex;
    align-self: center;
    height: 12rem;
    margin-bottom: 5rem;
}

.logList
{
    margin: 0;
    padding: 0;
    display: flex;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    font-family: monospace;
}

#combat-log 
{
    flex-direction: column-reverse;
    width: 100%;
}

.health_bars_container
{
    margin: 0;
    max-width: 100%;
    max-height: 6rem;
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: row;
}

.health_bar_outline
{
    position: relative;
    max-height: 100%;
    max-width: 50%;
    height: 100%;
    width: 50%;
}

.health_bar
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55%;
    height: 100%;
    z-index: 3;
}

.health_bar_inner
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 51%;
    height: 67%;
    z-index: 1;
}

.player_health_bar
{
    position: absolute;
    top: 15%;
    left: 24.5%;
    width: 51%; 
    height: 67%;
    z-index: 2;
}

.enemy_health_bar
{
    position: absolute;
    top: 15%;
    left: 24.5%;
    width: 51%; 
    height: 67%;
    z-index: 2;
}

.start_button
{
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}