h1
{
    margin-inline: 0rem;
    display: flex;
    align-content: center;
    justify-content: center;
}

.logList
{
    list-style: none;
    font-family: monospace;
}

#combat-log 
{
    display: flex;
    flex-direction: column-reverse;
}

.health_bar_outline
{
    display: flex;
    align-content: center;
    justify-content: center;
}